.swiper {
  max-width: 1920px; 
  height: 700px;
  background: #e1e1e1;
}
.swiper-slide {
  padding:250px 300px;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-button-next:after,
.swiper-rtl .swiper-button-prev:after {
  margin-right: 335px;
  color: black;
}
.swiper-button-prev:after, .swiper-rtl .swiper-button-next:after {
  margin-left: 360px;
  color: rgb(1, 1, 1);
}

.swiper-slide-heading {
  margin: 0px;
  line-height: 59px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 900;
}
.swiper-slide-content {
  max-width: 500px;
  line-height: 19px;
  position: absolute;
  color: #404040;
  font-size: 15px;
  font-weight: 400;
}
