
.swiper {
  max-width: 1920px; 
  height: 700px;
  margin: auto;
  background: #e1e1e1;
}

.swiper-slide {
  display: flex;
  flex-direction: column;
  justify-content: center;
  left: 18%;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
.swiper-button-next{
  margin-right: 10%;
}
.swiper-button-prev{
  margin-left: 10%;
}
.swiper-slide-heading {
  max-width: 50%;
  line-height: 59px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 900;
}
.swiper-slide-content {
  max-width: 45%;
  margin-top: 16px;
  line-height: 19px;
  color: #404040;
  ;
  font-size: 15px;
  font-weight: 400;
}

























































































































































































































  

