html {
  font-family: "Montserrat", sans-serif;
}
/* @import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@700&display=swap'); */
.wraper{
max-width: 100%;
margin: 0 auto;

}
*{
  box-sizing: border-box;
}
body {
  width: 100%;
  margin: 0px;
  padding: 0px;
}
.container {
  max-width: 1194px;
  width: 100%;
  overflow: hidden;
  margin: 0 auto;
}
/*  Header */
.header{
  width: 100%;
  position: fixed; 
  top: 0;
  z-index: 100; 
  background-color: #FFFFFF;
}
.hamburger div {
  width: 30px;
  height: 3px;
  background: #e3dfdf;
  margin: 5px;
  transition: all 0.3s ease;
}
.hamburger {
  display: none;
}

.nav-bar {
  display: flex;
  /* max-width: 1920px; */
  /* margin: 0 362px; */
  height: 80px;
  /* background-color: white; */
  justify-content: space-between;
}
.header-logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 60px;
  height: 60px;
  /* margin-right: 11%; */
  align-self: center;
}
.header-logo img{
  vertical-align: bottom;
}
.nav-list {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
}

.nav-list li {
  list-style: none;
  position: relative;
}
.nav-item {
  display: flex;
  color: rgb(6, 8, 10);
  font-size: 15px;
  text-decoration: none;
}

.nav-list li:not(:nth-child(-1n+1)):not(:nth-last-child(-1n+1)) {
  margin: 0 20px;
}
.nav-list li:first-child{
  margin-right: 20px;
}
.nav-list li:last-child{
  margin-left: 35px;
}

.nav-item span {
  /* line-height: 20px; */
  padding:  2px 7px;
  margin-left: 14px;
  color: aliceblue;
  font-family: "Montserrat";
  font-style: normal;
  font-weight: 700;
  font-size: 13px;
  border-radius: 12px;
  background-color: #333333;
}

/* Slide Banner */

.swiper {
  width: 100%;
  height: 800px;
  margin: 0 auto;
  background: #e1e1e1;
  /* transition: transform 300ms ease; */
}
.swiper-slide{
  /* width: 100%; */
   /* display: flex;
  flex-direction: column;
  justify-content: center;
  left: 18%;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box; */
}
.swiper-slide .container {
    /* height: 100%; */
    /* position: relative; */
}

.swiper-slide img {
  width: 100%;
  height: 100%;
  position: absolute;
  vertical-align: middle;
  object-fit: cover;
}

.swiper-slide-container{
  display: flex;
  flex-direction: column;
  justify-content: center;
  /* align-items: center; */
  position: absolute;
  top: 39.5%;
  left: 24.7%;
  font-size: 18px;
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
}
.swiper-button-next,
.swiper-button-prev {
  color: black !important;
}
.swiper-button-next{
  margin-right: 18.5%;
}
.swiper-button-prev{
  margin-left: 18.5%;
}
.swiper-slide-heading {
  max-width: 50%;
  line-height: 59px;
  font-family: "Montserrat";
  font-size: 48px;
  font-weight: 900;
}
.swiper-slide-content {
  max-width: 40%;
  margin-top: 16px;
  line-height: 19px;
  font-family:  "Roboto", sans-serif;
  color: #404040;
  /* color: #ede0e0; */
  font-size: 15px;
  font-weight: 400;
}
.swiper-pagination-bullets.swiper-pagination-horizontal, .swiper-pagination-custom, .swiper-pagination-fraction {
  bottom: 28px !important;
}

.swiper-pagination-bullet {
  width: 10px !important;
  height: 10px !important;
  /* border: 1px solid #ede8e8 !important; */
  border: 1px solid #333333 !important;

  background:none !important;
  opacity: 1 !important;
}
.swiper-pagination-bullet-active  {
  /* background: rgb(236, 230, 230) !important;  */
  background: #333333 !important; 

}

/* Product */
  
.product-big{
  display: flex;
  /* max-width: 1920px;
  width: calc(100% - 30px); */
  flex-direction: column;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.products { 
  width: 70%;
  margin-bottom:43px ; 

}
.product-heading{
  margin-bottom: 32px;
  margin-top: 86px;
  font-size: 30px;
  font-weight: 800px;
  line-height: 39px;
  text-align: center;
}
.top-products{
  margin-bottom: 150px;
}
.top-products-content{
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  height: 580px;
}
.left-content{
  width: 49.15%;
  height: 100%;
  background-color: #E1E1E1;
  border-radius: 10px;
}
.right-content{
  display: flex;
  flex-direction: column; 
  justify-content: space-between;
  width: 48.15%;
  height: 580px;

}
.right-content-top{
  display: flex;
  justify-content: space-between;
}
.right-content-bottom{
  height:  274px;
  border-radius: 10px;
  background-color: #E1E1E1;
}
.right-content-top-first{
  width: 47.1%;
  height: 274px;
  background-color:#E1E1E1;
  border-radius: 10px;
}
.right-content-top-second{
  width: 47%;
  height: 274px;
  background-color:#E1E1E1;
  border-radius: 10px;
}
.our-products .product-heading{
  margin-top: 0;
}
.product-nav {
  display: flex;
  align-items: center;
  justify-content: center;
  height: 64px;
  margin-top: 32px;
  background-color: #E1E1E1;
  border-radius: 10px;
}
/* .product-nav ul{
  margin-left: 0;
} */
.nav-bar-menu{
  
  height: 100%;
  padding: 0;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 128px;
  
}
.nav-bar-menu .nav-item{
  position: relative;
  display: flex;
  align-items: center;
  height: 100%;
  font-size: 18px;
}
.nav-bar-menu .nav-item a{
 color: rgba(101, 101, 101, 1);
 text-decoration: none;
 cursor: pointer;
}
.nav-item:first-child a {
  padding-left: 0;
  color: #000000;
  font-weight: 700;
}
.nav-bar-menu .nav-item i{
  margin-left: 5px;
  color: rgba(101, 101, 101, 1);
  font-size: 14px;
  padding-top: 4px;
}
.nav-item .nav-item-underline {
  width: 100%;
  height: 4px;
  position: absolute;
  bottom: 0;
  background-color: black;
}

.cart-product{
  width: 100%;
  margin: 32px auto;

}
.cart-product-detail{
  display: flex;
  align-items: center;
  justify-content: flex-start;
  flex-wrap: wrap;
  margin: -16px;
}
.card {
/* margin: 0 16.5px; */

width: 33.3333333333%;
padding: 16px 16.5px ;
}
.product-image{
  width: 100%;
  height: 247px;
  background: #E1E1E1;
  border-radius: 10px;
}
.product-name{
  margin-top: 16px;
  font-size: 20px;
  font-weight: 700;
}
.product-price{
margin: 4px 0 0;
}
.shop-info{
  display: flex;
  justify-content: center;
  align-items: center;
  max-height: 900px;
  min-height: 350px;
  height: 47vw; 
  background-color: #E1E1E1;
}
.shop-info-content{
  max-width: 700px;
  margin: 0 auto;
  text-align: center;
}
.shop-info-title{
  margin-top: 0;
  font-family: "Montserrat";
  font-size: 32px;
  font-weight: 700;
  line-height: 39px;
  color: black;
}
.info-content{
    margin: 32px 0;
    font-family:  "Roboto", sans-serif;
    font-weight: 400;
    line-height: 18px;
    text-align: center;
    color: #404040;
}
.shop-info-content button{
  width: 172px;
  height: 50px;
  background: #333333;
  color: #F2F2F2;
  border-radius: 10px;
  font-family: 'Roboto';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 18px;
  cursor: pointer;
}

/* Footer */

.footer{
  min-height: 450px;
  background: #404040;
 
}
.contact-form{
  padding-top: 25px;
  text-align: center;

}
.contact-form-title{
  margin-top: 39px;
  font-size: 16px;
  /* font-weight: 700; */
  font-weight: 700px;
  color: aliceblue;
}
.register-wrapper{
  display: flex;
  max-width: 616px;
  margin: -5px auto 0;
  background-color: white;
  border-radius: 99px;
  overflow: hidden;
}
.signUp-input{
  display: flex;
  flex: 1;
  min-height: 50px;
  padding-left: 40px;
  padding-right: 15px;
  border-radius: 99px;
  border: none;
  outline: none;
}
.signUp-button{
  display: flex;
  align-items: center;
  justify-content: center;
  min-height: 50px;
  height: 100%;
  padding: 0 40px;
  font-family: 'Poppins', sans-serif;
  font-size: 15px;
  font-weight: 600;
  background-color: white;
  border-radius: 99px;
  border: none;
  cursor: pointer;
  transition: 0.3s;
}
.signUp-button:hover {
  background-color: #333333;
  color: white;
}
.register-wrapper input::placeholder{
  font-family: 'Poppins', sans-serif;
  font-style: normal;
  font-weight: 300;
  font-size: 15px;
  color:rgba(154, 154, 154, 1);
}
.more-info{
  margin-top: 64px ;
  border-top: 1px solid white;
  border-bottom: 1px solid white;
}
.more-info-content{
  display: flex;
  justify-content: space-evenly;
  /* max-width: 938px; */
  min-height: 160px;
  color: #FFFFFF;
}
.more-info h3{
  text-align: center;
  font-size: 32px;
  line-height: 40px;
}
.info-menu h5{
  font-size: 18px;
  color: #9D9D9D;
  
}
.info-menu li{
  list-style: none;
 
}
.info-menu li a{
  text-decoration: none;
  color: #FFFFFF;
}
.social-icon{
  display: flex;
  margin-bottom: 4rem;
  align-items: center;
  gap: 16px;

}
.social-icon .circle{
  width: 32px;
  height: 32px;
  border: 2px solid #FFFFFF;
  border-radius: 100px;
}
.copy-right .copy-right-detail{
  /* min-width: 80px; */
  margin:  2rem;
  text-align: center;
  color: #FFFFFF;
  font-family: Roboto;
  font-size: 15px;
  font-weight: 400;
  line-height: 15px;
 
}